.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

/* The button elements */
.buttons-container button {
  flex: 1;
  margin: 0.5rem; /* Reduce the space around the buttons */
  padding: 0.5rem; /* Reduce the space inside the buttons */
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border: none;
  max-width: 150px; /* Reduce the maximum width for the buttons */
}

/* The images inside the buttons */
.buttons-container button img {
  width: 100%;
  height: auto;
}
